<a href="https://colab.research.google.com/github/qazalkz/NHANES/blob/main/nhanes_univariate_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np


from google.colab import files 
  
  
uploaded = files.upload()

Saving NHANES.csv to NHANES.csv

In [ ]:
da= pd.read_csv('NHANES.csv')

In [ ]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [ ]:
# insert your code here
da['DMDMARTLx']=da.DMDMARTL.replace({1: "mariied", 2: 'Widowed', 3: 'Divorced', 4: 'Separated', 5: 'Never married' ,
                                    6: 'Living with partner', 77: 'Refused', 99: "Don't Know" })
da['DMDMARTLx']=da.DMDMARTLx.fillna('missing')
print(da.DMDMARTLx.value_counts())

mariied                2780
Never married          1004
Divorced                579
Living with partner     527
Widowed                 396
missing                 261
Separated               186
Refused                   2
Name: DMDMARTLx, dtype: int64

In [ ]:
print(da.DMDMARTLx.value_counts().sum())

5735

In [ ]:
print(da.shape)

(5735, 31)

In [ ]:
da['RIAGENDRx']=da.RIAGENDR.replace({1: 'male' , 2:'female'})
print(da.RIAGENDRx.value_counts())

female    2976
male      2759
Name: RIAGENDRx, dtype: int64

In [ ]:
da['agegrp']=pd.cut(da.RIDAGEYR,[30,40])
print(da.agegrp.value_counts())
#da.groupby(['agegrp', 'RIAGENDRx'])['DMDMARTLx'].value_counts()

(30, 40]    932
Name: agegrp, dtype: int64

In [ ]:
print(da.groupby(['agegrp', 'RIAGENDRx'])['DMDMARTLx'].value_counts())

agegrp    RIAGENDRx  DMDMARTLx
(30, 40]  female     mariied                258
                     Never married           97
                     Living with partner     57
                     Divorced                43
                     Separated               17
                     Widowed                  2
          male       mariied                258
                     Never married           89
                     Living with partner     72
                     Divorced                24
                     Separated               12
                     Widowed                  2
                     Refused                  1
Name: DMDMARTLx, dtype: int64

In [ ]:
print(da.groupby(['agegrp', 'RIAGENDRx'])['DMDMARTLx'].value_counts().sum())

932

In [ ]:
# insert your code here
da['DMDMARTLx']=da.DMDMARTL.replace({1: "mariied", 2: 'Widowed', 3: 'Divorced', 4: 'Separated', 5: 'Never married' ,
                                    6: 'Living with partner', 77: 'Refused', 99: "Don't Know" })
da['DMDMARTLx']=da.DMDMARTLx.fillna('missing')
da['RIAGENDRx']=da.RIAGENDR.replace({1: 'male' , 2:'female'})
da['agegrp']=pd.cut(da.RIDAGEYR,[30,40])
da.groupby(['agegrp', 'RIAGENDRx'])['DMDMARTLx'].value_counts()

agegrp    RIAGENDRx  DMDMARTLx
(30, 40]  female     mariied                258
                     Never married           97
                     Living with partner     57
                     Divorced                43
                     Separated               17
                     Widowed                  2
          male       mariied                258
                     Never married           89
                     Living with partner     72
                     Divorced                24
                     Separated               12
                     Widowed                  2
                     Refused                  1
Name: DMDMARTLx, dtype: int64